@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color:#92f992;
}

nav{
  width: 100%;
  background-color: #013E27;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  position: sticky;
  top: 0;
  opacity: 0.8;
}

.navbar{
  width: 100%;
  display: flex;
  list-style-type: none;
}

.navbar a{
  text-decoration: none;
  color: azure;
  cursor: pointer;
  text-align: center;
  min-width: 160px;
  flex: 1 1 0;
  padding: 20px;
}

.navbar a:hover{
  background-color: gray;
}

nav .title a{
  text-decoration: none;
  cursor: pointer;
  color: azure;
  padding: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.welcome{
  display: block;
}

.details{
  border: 4px solid black;
  margin: 7% auto;
  max-width: fit-content;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #267d4d;
}
.fields{
  display: flex;
  flex-direction: column;
}
.fields div{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  
}
.details label{
  padding: 20px;
  font-size: 2.5vw;
  color: white;
}
.details input{
  font-size: 2.5vw;
  height: 3vw;
  border: solid white;
  border-radius: 5px;
  background-color: rgb(216, 216, 216);
  padding: 10px;
}
.details button{
  font-size: 2.5vw;
  max-width: 10vw;
  padding: 5px;
  border: 3px solid white;
  border-radius: 5px;
  color: beige;
  background-color: black;
  margin: 20px;
}
.details button:hover{
  background-color: #5a5a5a;
}

/* Homepage */

.homePage{
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.dialogBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 3px solid black;
  padding: 30px;
  background-color: #267d4d;
  border-radius: 10px;
  height: 280px;
}
.option{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.option button{
  font-size: 1.3em;
  margin: 20px;
  padding: 10px;
  min-width: 30px;
}
.option .icon{
  margin: auto;
  width: 50%;
  color: #013E27;
}
.dialogBox h1{
  color: rgb(0, 77, 9);
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 0.3em;
}
.option button:hover{
  background-color: #9b9b9b;
  border: 2px solid rgb(53, 53, 53);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

/* About */

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.about p{
  color: rgb(5, 43, 5);
  font-size: 1.5em;
  max-width: 480px;
}

/* Available interns */

.available{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.available h1{
  margin: auto;
  text-decoration: underline;
}

.available .login{
  padding: 20px;
}

.login button{
  font-size: 2.5vw;
  max-width: 10vw;
  padding: 5px;
  border: 3px solid white;
  border-radius: 5px;
  color: beige;
  background-color: black;
  margin: 20px;
}
.login button:hover{
  background-color: #5a5a5a;
}

.login{
  border: 4px solid black;
  margin: 7% auto;
  max-width: fit-content;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #267d4d;
}

.available .list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.available .list .block{
  flex: 1 1 0;
  padding: 20px;
  margin: 20px;
  min-width: 200px;
  max-width: 200px;
  background-color: #267d4d;
  text-align: center;
  border: #013E27 solid 3px;
  border-radius: 8px;
}

.block h2{
  border-bottom: #013E27 solid 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.block div{
  text-align: left;
}

